html {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
}

body {
  margin: 0;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.clock {
  width: 25vw;
  height: 25vw;
  border: 2vw solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2em;
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.1),
    inset 10px 10px 5px 5px rgba(0, 0, 0, 0.1);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  box-shadow: 2px -8px 0 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.min-hand {
  background: rgb(65, 64, 64);
  height: 6px;
}

.second-hand {
  height: 3px;
  background: red;
}

.hour-hand {
  height: 8px;
}